.app.dark {
    --bg-color: var(--color-dark);

    --primary-color: #FFFFFFFF;
    --secondary-color: #888888;


    --primary-color-navbar: var(--color-light-dark);

    --primary-color-sidebar: var(--color-default);

    --primary-color-button: var(--color-font-dark);
}
