.app.dark {
  --bg-color: var(--color-dark);

  //  color
  --primary-color: #ffff;
  --secondary-color: #888;

  //  navbar
  --primary-color-navbar: var(--color-light-dark);
  --primary-color-sidebar: var(--color-default);
  --primary-color-button: var(--color-font-dark);
}
